openapi: 3.0.3
info:
  title: PuzzleMe API
  version: 1.0.0
  description: |
    The PuzzleMe API offers secure, efficient programmatic access to puzzles created on the PuzzleMe platform and their analytics. Designed for partners and developers, this API enables seamless integration of puzzle content and analytics dashboards into your applications and platforms.

    With these APIs, you can:

      - Access puzzles you have created on the PuzzleMe platform.
      - Retrieve detailed analytics about how your puzzles are played on PuzzleMe.

    **Getting Started**
    To use these APIs, you will need authentication credentials `client_id` and `client_secret`. You can obtain these by contacting support@amuselabs.com

    **Metering**
    We are in the process of introducing usage-based metering for this API suite. While metering is not currently active, we encourage you to design your integration with this in mind. Once metering is enabled, you may be subject to usage limits and billing based on your API consumption.
servers:
  - url: https://sandbox.amuselabs.com/pmm
tags:
  - name: Auth
    x-displayName: Auth
  - name: Puzzles
    x-displayName: Puzzles
  - name: Plays
    x-displayName: Plays
  - name: Series
    x-displayName: Series
  - name: Analytics
    x-displayName: Analytics
paths:
  /api/v1/puzzles:
    get:
      summary: Retrieve puzzle metadata
      description: |
        Retrieves puzzle metadata based on specific criteria. Supports two mutually exclusive request types:

        **1. Specific/Multiple Puzzles Request:**
        Returns metadata for one or more specific puzzles.
        - Requires `series` and `puzzleIds` (comma-separated list).
        - Maximum 30 puzzle IDs allowed per request.

        **2. Time Range Request:**
        Returns a list of puzzles within a given time range, sorted by publish time in descending order (newest first).
        - Requires `series`.
        - `from` and `to` define the time range (both must be in ISO 8601 format with a timezone offset).
        - `limit` and `offset` can be used for pagination.
        - `hasMore` is a boolean indicating if there are more puzzles available for pagination.

        **Puzzle Type Support:**
        - **Grid Games** (Crossword, Codeword, KrissKross, Sudoku): Grid dimensions and word count
        - **Quiz Games**: Number of questions
       
        **Pagination and Ordering:**
        Results are paginated with the `limit` and `offset` query parameters and are ordered by **`publicationTime` in descending order** (newest first).
        Parameter `limit` *(integer)* specifies the maximum number of records to return per request and `offset` denotes the number of records to skip (in the descending order of `publicationTime`) before starting to return results. To retrieve all the puzzles using this endpoint:
        1. Call the endpoint with `offset=0`.  
        2. Process the returned puzzles.  
        3. If the `hasMore` field is set to `true`, request the next page by increasing `offset` by `limit`.  
        4. Repeat step 3 until a response returns `hasMore` field as false, indicating there are no more results.
        
        **Use Cases:**
        - **Puzzle Discovery:** Browse available puzzles in a series by publication date
        - **Content Management:** Retrieve metadata for specific puzzles by ID

        **Examples:**
        
        **Specific Puzzle Request:**
        ```bash
        curl -L 'http://localhost:8080/pmm-dev/api/v1/puzzles?series=api-demo-crossword&puzzleIds=82e56966' \
        -H 'Accept: application/json'
        ```
        
        **Multiple Puzzles Request:**
        ```bash
        curl -L 'http://localhost:8080/pmm-dev/api/v1/puzzles?series=api-demo-crossword&puzzleIds=82e56966,50a2ab68,a7b2b0e0' \
        -H 'Accept: application/json'
        ```
        
        **Time Range Request (Last 30 days):**
        ```bash
        curl -L 'http://localhost:8080/pmm-dev/api/v1/puzzles?series=api-demo-crossword&from=2024-01-01T00:00:00Z&to=2024-01-31T23:59:59Z&limit=10&offset=0' \
        -H 'Accept: application/json'
        ```
      parameters:
        - name: series
          in: query
          required: true
          schema:
            type: string
          description: |
            Series identifier for the puzzle collection.
            Example: "api-demo-crossword", "demo-quiz", "jigsaw-series"
        - name: puzzleIds
          in: query
          required: false
          schema:
            type: string
          description: |
            Comma-separated list of puzzle IDs (for specific/multiple puzzles request).
            Maximum 30 puzzle IDs allowed per request.
            Example: "daily-2024-01-15,daily-2024-01-16,daily-2024-01-17"
        - name: from
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: |
            Start time for puzzle publication range in ISO 8601 format with timezone offset.
            Defaults to 2013-01-01T00:00:00Z if not specified.
            Example: "2024-01-01T00:00:00Z" or "2024-01-01T00:00:00+05:30"
        - name: to
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: |
            End time for puzzle publication range in ISO 8601 format with timezone offset.
            Defaults to the current time if not specified.
            Example: "2024-01-31T23:59:59Z" or "2024-01-31T23:59:59+05:30"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 1
            maximum: 30
          description: |
            Maximum number of puzzles to return (for time range requests).
            Used for pagination to control the number of results per page.
            Example: 10
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: |
            Number of puzzles to skip from the start (for pagination).
            Used to implement pagination by skipping previous results.
            Example: 20 (skips first 20 puzzles)
      responses:
        '200':
          description: Successful response with puzzle metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PuzzleResponseAPI'
              examples:
                time_range_puzzles:
                  summary: Time range puzzles with pagination
                  description: |
                    Example response showing puzzles from a time range with pagination.
                    The `hasMore` field indicates there are more puzzles available.
                  value:
                    status: 0
                    seriesToPuzzleMetadata:
                      api-demo-crossword:
                        - title: "Daily Crossword"
                          author: "Jane Smith"
                          puzzleId: "82e56966"
                          puzzleType: "CROSSWORD"
                          publicationTime: 1701286140000
                          publicationTimeZone: "America/New_York"
                          thumbnailURL: "https://amuselabs.com/wp-content/uploads/2022/03/crossword_icon.png"
                          gridWidth: 15
                          gridHeight: 15
                          numWords: 78
                        - title: "Sample Puzzle"
                          author: "John Doe"
                          puzzleId: "50a2ab68"
                          puzzleType: "CROSSWORD"
                          publicationTime: 1701144540000
                          publicationTimeZone: "America/New_York"
                          thumbnailURL: "https://amuselabs.com/wp-content/uploads/2022/03/crossword_icon.png"
                          gridWidth: 7
                          gridHeight: 5
                          numWords: 14
                    hasMore: true
                specific_puzzles:
                  summary: Specific puzzles request
                  description: |
                    Example response showing specific puzzles requested by puzzle IDs.
                    The `hasMore` field is false since we return exactly what was requested.
                  value:
                    status: 0
                    seriesToPuzzleMetadata:
                      api-demo-crossword:
                        - title: "Daily Crossword"
                          author: "Jane Smith"
                          puzzleId: "82e56966"
                          puzzleType: "CROSSWORD"
                          publicationTime: 1701286140000
                          publicationTimeZone: "America/New_York"
                          thumbnailURL: "https://amuselabs.com/wp-content/uploads/2022/03/crossword_icon.png"
                          gridWidth: 15
                          gridHeight: 15
                          numWords: 78
                    hasMore: false
        '400':
          description: Bad request (missing/invalid parameters)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                too_many_puzzle_ids:
                  summary: Too many puzzle IDs
                  description: Error response when more than 30 puzzle IDs are provided
                  value:
                    status: 1
                    errorCode: 10
                    errorMessage: "Invalid parameter."
                    errorDetails:
                      paramName: "puzzleIds"
                      value: "Maximum 30 puzzle IDs are allowed in a single request. Received: 150"
                missing_required_parameter:
                  summary: Missing required parameter
                  description: Error response when a required parameter is missing
                  value:
                    status: 1
                    errorCode: 10
                    errorMessage: "Invalid parameter."
                    errorDetails:
                      paramName: "series"
        '401':
          description: Unauthorized (invalid or missing API token)
        '403':
          description: Forbidden (no access to series)
      security:
        - bearerAuth: []
      tags:
        - Puzzles
  /api/v1/series:
    get:
      summary: Retrieve series information
      description: |
        Retrieves series metadata for the authenticated account. The endpoint supports two operation modes:

        **1. List All Series:**
        Returns a complete list of all series associated with the authenticated account.
        - Omit the `series` parameter.
        - Response contains an array of all series with their metadata.

        **2. Get Specific Series:**
        Returns metadata for a specified series if it exists in the account.
        - Provide the `series` parameter with a valid series identifier.
        - Response contains a single series object with name and displayName.

        If the `series` parameter is provided but does not match any series in the account, the
        endpoint still returns HTTP 200 with an empty `seriesList` — this is not treated as an error.

        **Including Settings:**
        Pass `includeSettings=true` together with a specific `series` to receive the full hierarchical
        player+picker settings for that series, grouped by section (see the `settings` property in the
        response schema). The settings include both explicit values stored for the series and defaults
        for fields that haven't been explicitly configured. When `includeSettings=true` is sent
        without a specific `series` (list mode), the flag is silently ignored — settings are not
        attached to list responses.

        **Use Cases:**
        - **Series Discovery:** Browse all available series in an account
        - **Metadata Retrieval:** Get display names and identifiers for series management
        - **Settings Export:** Retrieve the current player+picker configuration of a series, for
          inspection or as input to a later `PATCH` call.

        **Examples:**

        **List All Series:**
        ```bash
        curl -L 'https://sandbox.amuselabs.com/pmm/api/v1/series' \
        -H 'Authorization: Bearer YOUR_JWT_TOKEN' \
        -H 'Accept: application/json'
        ```

        **Get Specific Series:**
        ```bash
        curl -L 'https://sandbox.amuselabs.com/pmm/api/v1/series?series=api-demo-crossword' \
        -H 'Authorization: Bearer YOUR_JWT_TOKEN' \
        -H 'Accept: application/json'
        ```

        **Get Specific Series With Settings:**
        ```bash
        curl -L 'https://sandbox.amuselabs.com/pmm/api/v1/series?series=api-demo-crossword&includeSettings=true' \
        -H 'Authorization: Bearer YOUR_JWT_TOKEN' \
        -H 'Accept: application/json'
        ```
      parameters:
        - name: series
          in: query
          required: false
          schema:
            type: string
          description: |
            Series identifier. When omitted, all series are returned. When provided, returns the specified series if it exists, otherwise returns an empty list.
            Example: "api-demo-crossword", "demo-quiz", "jigsaw-series"
        - name: includeSettings
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: |
            When `true` AND a specific `series` is provided, the response item includes a `settings`
            object with the hierarchical player+picker settings for that series. When `true` in list
            mode (no `series` param), the flag is silently ignored.
            Example: `true`
      responses:
        '200':
          description: |
            Successful response. The endpoint always returns HTTP 200 status code. The response body contains a list of
            series objects. When the series parameter is omitted, the list contains all series for the account. When a
            valid series identifier is provided, the list contains a single series object. When an invalid series
            identifier is provided, the list is empty. When `includeSettings=true` is used with a specific series, the
            returned object has a nested `settings` property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeriesResponseAPI'
              examples:
                all_series:
                  summary: List of all series
                  description: |
                    Example response showing all series in the account.
                  value:
                    status: 0
                    seriesList:
                      - name: "api-demo-crossword"
                        displayName: "API Demo Crossword"
                        status: "ACTIVE"
                      - name: "demo-quiz"
                        displayName: "Demo Quiz Series"
                        status: "ACTIVE"
                      - name: "jigsaw-series"
                        displayName: "Jigsaw Puzzle Collection"
                        status: "ACTIVE"
                specific_series:
                  summary: Specific series request
                  description: |
                    Example response showing a specific series when a valid series identifier is provided.
                  value:
                    status: 0
                    seriesList:
                      - name: "api-demo-crossword"
                        displayName: "API Demo Crossword"
                        status: "ACTIVE"
                specific_series_with_settings:
                  summary: Specific series with `includeSettings=true`
                  description: |
                    Example response when `includeSettings=true` is passed with a specific series.
                    The `settings` object is hierarchical and groups fields by section.
                  value:
                    status: 0
                    seriesList:
                      - name: "api-demo-crossword"
                        displayName: "API Demo Crossword"
                        status: "ACTIVE"
                        settings:
                          security:
                            allowedDomains: "*.example.com"
                            landingPageUrl: "https://example.com/games"
                            disallowCookies: false
                            saveProgressInBrowser: true
                          userFieldsCollection:
                            collectIn: "ALL_PUZZLES"
                            field1:
                              enabled: true
                              label: "Participant(s) Name"
                              fieldType: "TEXT_REQUIRED"
                            field2:
                              enabled: true
                              label: "Email Address"
                              fieldType: "EMAIL"
                          startExperience:
                            message: "<p>Welcome — click Start when ready.</p>"
                            showStartButton: true
                            showHowToPlay: true
                          scoring:
                            correctAnswer: 10
                            revealPenalty: -1
                            bonusPerMinute: 15
                            targetTime: 15
                            displayLocation:
                              crossword: "END_ONLY"
                              quiz: "END_ONLY"
                            quizFormat: "COMPUTED"
                          assistFeatures:
                            hints: true
                            reveal: true
                            check: true
                            errorCheckMode: false
                          sharing:
                            enabled: true
                            twitterHandle: "@AmuseLabs"
                            shareMessage: "Play this puzzle: [puzzle-link]"
                non_existent_series:
                  summary: Non-existent series request
                  description: |
                    Example response when an invalid or non-existent series identifier is provided.
                    The endpoint returns an empty list with HTTP 200 status.
                  value:
                    status: 0
                    seriesList: []
        '400':
          description: Bad request (missing/invalid parameters)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized (invalid or missing API token)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden (no access to account or series)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []
      tags:
        - Series
    patch:
      summary: Update series information
      description: |
        Partially updates a series. Any subset of the supported body fields may be provided — only
        the fields you send are updated; everything else is left untouched. A single request may
        combine multiple updates (for example, renaming the series and changing settings in one call).

        **Supported body fields:**
        - `displayName` *(string)* — update the series display name.
        - `settings` *(object)* — hierarchical player+picker settings (same schema as returned by
          `GET /api/v1/series?includeSettings=true`). Only the paths you send are merged onto the
          existing settings — absent paths are untouched. Unknown API paths cause a `400` error.

        **Settings merge semantics:**
        - Boolean / integer / enum fields: the new value replaces the old one.
        - String fields: the new value replaces the old one. Sending `""` sets the field to empty.

        **Examples:**

        **Rename a series:**
        ```bash
        curl -L -X PATCH 'https://sandbox.amuselabs.com/pmm/api/v1/series?series=api-demo-crossword' \
          -H 'Authorization: Bearer YOUR_JWT_TOKEN' \
          -H 'Content-Type: application/json' \
          -d '{"displayName": "API Demo (Updated)"}'
        ```

        **Update specific settings:**
        ```bash
        curl -L -X PATCH 'https://sandbox.amuselabs.com/pmm/api/v1/series?series=api-demo-crossword' \
          -H 'Authorization: Bearer YOUR_JWT_TOKEN' \
          -H 'Content-Type: application/json' \
          -d '{
            "settings": {
              "scoring": { "correctAnswer": 20, "targetTime": 10 },
              "sharing": { "enabled": true, "twitterHandle": "@AmuseLabs" }
            }
          }'
        ```

        **Rename and update settings in one call:**
        ```bash
        curl -L -X PATCH 'https://sandbox.amuselabs.com/pmm/api/v1/series?series=api-demo-crossword' \
          -H 'Authorization: Bearer YOUR_JWT_TOKEN' \
          -H 'Content-Type: application/json' \
          -d '{
            "displayName": "API Demo (Updated)",
            "settings": { "assistFeatures": { "hints": false } }
          }'
        ```
      parameters:
        - name: series
          in: query
          required: true
          schema:
            type: string
          description: |
            Series identifier to update.
            Example: "api-demo-crossword"
      requestBody:
        required: true
        description: |
          JSON body with any subset of `displayName` and/or `settings`. At least one field must be
          provided; an empty body is rejected with `400`.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SeriesPatchRequest'
            examples:
              rename:
                summary: Rename a series
                value:
                  displayName: "API Demo (Updated)"
              update_settings:
                summary: Update settings only
                value:
                  settings:
                    scoring:
                      correctAnswer: 20
                      targetTime: 10
                    sharing:
                      enabled: true
                      twitterHandle: "@AmuseLabs"
              combined:
                summary: Rename and update settings
                value:
                  displayName: "API Demo (Updated)"
                  settings:
                    assistFeatures:
                      hints: false
      responses:
        '200':
          description: |
            Successful update. The response is intentionally empty beyond the base status envelope —
            PATCH is a pure write. Callers that need the post-update state should follow up with
            `GET /api/v1/series?series=X&includeSettings=true`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeriesPatchResponse'
              examples:
                success:
                  summary: Successful update
                  value:
                    status: 0
        '400':
          description: |
            Bad request. Common causes:
            - Empty or non-JSON body.
            - Unknown top-level key in the body (allowed: `displayName`, `settings`).
            - Unknown API path inside `settings` (e.g., `settings.scoring.madeUpField`).
            - `displayName` present but empty.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized (invalid or missing API token)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden (no write access to the series)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []
      tags:
        - Series
    post:
      summary: Create a new series
      description: |
        Creates a new series, optionally with an initial set of hierarchical player+picker settings.

        **Body fields:**
        - `series` *(string, required)* — unique identifier for the new series. Must match the series
          naming rules.
        - `seriesDisplayName` *(string, required)* — human-readable display name.
        - `settings` *(object, optional)* — hierarchical player+picker settings to apply immediately
          after creation (same schema as returned by `GET /api/v1/series?includeSettings=true`).
          If omitted, the new series is created with default settings.

        **Unknown settings paths** (e.g., a typo under `settings.scoring.*`) cause a 400 error — same
        strict path validation as `PATCH /api/v1/series`.

        **Examples:**

        **Create with defaults:**
        ```bash
        curl -L -X POST 'https://sandbox.amuselabs.com/pmm/api/v1/series' \
          -H 'Authorization: Bearer YOUR_JWT_TOKEN' \
          -H 'Content-Type: application/json' \
          -d '{
            "series": "fall-2024-crosswords",
            "seriesDisplayName": "Fall 2024 Crosswords"
          }'
        ```

        **Create with initial settings:**
        ```bash
        curl -L -X POST 'https://sandbox.amuselabs.com/pmm/api/v1/series' \
          -H 'Authorization: Bearer YOUR_JWT_TOKEN' \
          -H 'Content-Type: application/json' \
          -d '{
            "series": "fall-2024-crosswords",
            "seriesDisplayName": "Fall 2024 Crosswords",
            "settings": {
              "scoring": { "correctAnswer": 10, "targetTime": 15 },
              "assistFeatures": { "hints": true, "reveal": true, "check": true },
              "sharing": { "enabled": true, "twitterHandle": "@AmuseLabs" }
            }
          }'
        ```
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SeriesPostRequest'
            examples:
              bare:
                summary: Bare create
                value:
                  series: "fall-2024-crosswords"
                  seriesDisplayName: "Fall 2024 Crosswords"
              with_settings:
                summary: Create with initial settings
                value:
                  series: "fall-2024-crosswords"
                  seriesDisplayName: "Fall 2024 Crosswords"
                  settings:
                    scoring:
                      correctAnswer: 10
                      targetTime: 15
                    assistFeatures:
                      hints: true
                      reveal: true
                      check: true
                    sharing:
                      enabled: true
                      twitterHandle: "@AmuseLabs"
      responses:
        '200':
          description: |
            Series created successfully. If initial `settings` were provided, they have been applied.

            Response body is intentionally minimal — just the base `{status: 0}` envelope, aligned
            with the `PATCH /api/v1/series` contract. If you need the post-create state (e.g., the
            final series identifier with any account-handle prefix the server may have applied, or
            the resulting hierarchical settings), follow up with
            `GET /api/v1/series?series=X&includeSettings=true`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeriesPostResponse'
              examples:
                success:
                  summary: Successful create
                  value:
                    status: 0
        '400':
          description: |
            Bad request. Common causes:
            - Missing or invalid `series` / `seriesDisplayName`.
            - Unknown API path inside `settings`.
            - Settings body not a JSON object.
            - Series name already exists in the account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized (invalid or missing API token)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden (e.g., series-creation quota exhausted, or no write access to the account)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []
      tags:
        - Series
  /api/v1/reporting:
    get:
      summary: Get series or puzzle specific aggregate metrics
      description: |
        Fetches aggregated analytics data over a specified time range, grouped by one or more dimensions.
        The reporting system is designed around two types of data: **loads** (when a puzzle is loaded) and **plays** (when a user interacts with a puzzle). You must choose dimensions and metrics that belong to the same category.
      parameters:
        - name: series
          in: query
          required: true
          schema:
            type: string
          description: Series identifier
        - name: puzzleId
          in: query
          required: false
          schema:
            type: string
          description: Puzzle ID (for puzzle-specific report)
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date-time
          description: 'The start date for the report in ISO 8601 format (e.g., `2024-07-01T00:00:00Z`). UTC is assumed if no timezone is specified.'
        - name: duration
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 28
          description: Duration in days
        - name: dimensions
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
              enum:
                - DAY
                - LOAD_TYPE
                - AD_STATE
                - LOGIN_STATUS
                - DEVICE
                - BROWSER
                - OS
                - PLAY_STATE
                - PUZZLE_TYPE
          style: form
          explode: true
          description: |
            A comma-separated list of dimensions to group the data by.
            **Load Dimensions:** `DAY`, `LOAD_TYPE`, `AD_STATE`, `LOGIN_STATUS`, `DEVICE`, `BROWSER`, `OS`.
            **Play Dimensions:** `DAY`, `PLAY_STATE`, `PUZZLE_TYPE`.
        - name: metrics
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
              enum:
                - TOTAL_LOADS
                - VERIFIED_LOADS
                - AVG_AD_DURATION
                - TOTAL_PLAYS
                - UNIQUE_PLAYS
                - UNIQUE_USERS
                - AVG_SCORE
                - MAX_SCORE
          style: form
          explode: false
          description: |
            A comma-separated list of metrics to compute. Must be either all load or all play metrics.
            **Load Metrics:** `TOTAL_LOADS`, `VERIFIED_LOADS`, `AVG_AD_DURATION`.
            **Play Metrics:** `TOTAL_PLAYS`, `UNIQUE_PLAYS`, `UNIQUE_USERS`, `AVG_SCORE`, `MAX_SCORE`.
      responses:
        '200':
          description: A JSON object containing the requested metrics, grouped by the specified dimensions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponseAPI'
        '400':
          description: Bad Request - Missing required parameters or inconsistent parameters (e.g., requesting load metrics with play dimensions).
        '401':
          description: Unauthorized - Missing or invalid API token.
        '403':
          description: Forbidden - The user does not have permission to access the requested series.
      security:
        - bearerAuth: []
      tags:
        - Plays
  /api/v1/token:
    post:
      summary: Generate API token
      description: >
        Returns a JWT token for API access. Requires client_id and client_secret
        in the request body.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                client_id:
                  type: string
                client_secret:
                  type: string
      responses:
        '200':
          description: Token generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResult'
        '400':
          description: Bad request (missing/invalid credentials)
      tags:
        - Auth
  /api/v1/plays:
    get:
      summary: Get plays for a given user
      description: |
        Retrieves detailed play-by-play analytics data for puzzles in a series or specific puzzle IDs for a given user.
        Each play includes common fields (userId, startTime, endTime, etc.) along with puzzle type specific 
        state details that contain relevant statistics and progress information.
        
        **Puzzle Type Support:**
        - **Grid Games** (Crossword, Codeword, KrissKross, Sudoku): Box completion statistics
        - **Quiz Games**: Question attempt statistics  
        - **Word Search & Word Flower**: Word finding progress
        - **Jigsaw**: Piece placement progress
        
        **Time Range Filtering:**
        - Use `from` (inclusive) and/or `to` (inclusive) to filter plays by start time (`startedAt`, ISO 8601 format).
        - If neither is provided, all plays are considered.
        - If only `from` is provided, plays from that time onwards are considered.
        - If only `to` is provided, plays up to that time are considered.
        - If both are provided, plays between `from` and `to` (inclusive) are considered.
       
        **Pagination and Ordering:**
        Results are paginated with the `limit` and `offset` query parameters and are ordered by **`startedAt` in descending order** (most recent starts first).
        Parameter `limit` *(integer)* specifies the maximum number of records to return per request and `offset` denotes the number of records to skip (in the descending order of `startedAt`) before starting to return results. To retrieve all the plays using this endpoint:
        1. Call the endpoint with `offset=0`.  
        2. Process the returned plays.  
        3. If the `hasMore` field is set to `true`, request the next page by increasing `offset` by `limit`.  
        4. Repeat step 3 until a response returns `hasMore` field as false, indicating there are no more results.
        
        **Use Cases:**
        - **Streak Computation:** Use `startedAt` and `updatedAt` combined with `playProgress` fields to compute user streaks. For example, calculate consecutive days a user has completed puzzles by checking if `startedAt` and `updatedAt` fall on the puzzle's publish date and the `playProgress.playState` indicates completion.
        - **Puzzle Details:** To get detailed information about the puzzles corresponding to the returned play IDs, use the separate Puzzles API endpoint (`/api/v1/puzzles`) with the `puzzleIds` parameter containing the puzzle IDs from the plays response.
 
       
        **Examples:**
        
        **Single Puzzle Play for given User:**
        ```bash
        curl -L 'http://localhost:8080/pmm-dev/api/v1/plays?series=demo-api&puzzleIds=123ba400&userId=9f7439e7-ecf1-4c03-ba90-91273f149231' \
        -H 'Accept: application/json'
        ```
        
        **Multiple Puzzle Plays (Comma-separated puzzle ids) for a given User:**
        ```bash
        curl -L 'http://localhost:8080/pmm-dev/api/v1/plays?series=demo-api&puzzleIds=123ba400,46892ef6&userId=9f7439e7-ecf1-4c03-ba90-91273f149231' \
        -H 'Accept: application/json'
        ```
        **All Plays for a given User for a given series:**
        ```bash
        curl -L 'http://localhost:8080/pmm-dev/api/v1/plays?series=demo-api&userId=9f7439e7-ecf1-4c03-ba90-91273f149231' \
        -H 'Accept: application/json'
        ```
      parameters:
        - name: series
          in: query
          required: true
          schema:
            type: string
          description: |
            Series identifier for the puzzle collection.
            Example: "crossword", "quiz", "jigsaw"
        - name: userId
          in: query
          required: true
          schema:
            type: string
          description: |
            User ID to filter plays for a specific user.
            Compulsory parameter.
            Example: "user123"
        - name: puzzleIds
          in: query
          required: false
          schema:
            type: string
          description: |
            Comma-separated list of puzzle IDs to filter plays.
            If not provided, returns plays for all puzzles in the series.
            Example: "daily-2024-01-15,daily-2024-01-16,daily-2024-01-17"
        - name: from
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: |
            Start time for play start time range (`startedAt`) in ISO 8601 format (UTC).
            Defaults to 2013-01-01T00:00:00Z if not specified.
            Example: "2024-01-01T00:00:00Z"
        - name: to
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: |
            End time for play start time range (`startedAt`) in ISO 8601 format (UTC).
            Example: "2024-01-31T23:59:59Z"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 100
          description: |
            Maximum number of plays to return.
            Default: 50, Maximum: 100
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
          description: |
            Number of plays to skip from the start of the result set.
            Used for pagination.
      security:
        - bearerAuth: []
      tags:
        - Plays
      responses:
        '200':
          description: |
            List of plays with puzzle type specific state details.
            Each play includes common fields and a `playProgress` object containing
            puzzle type specific statistics and progress information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlaysResponse'
              examples:
                single_puzzle_plays:
                  summary: Plays for a single puzzle
                  description: |
                    Example response showing plays for a specific puzzle with grid game progress.
                    The `playProgress` object contains puzzle type specific details.
                  value:
                    status: 0
                    plays:
                      - userId: "9f7439e7-ecf1-4c03-ba90-91273f149231"
                        puzzleId: "123ba400"
                        series: "pm"
                        puzzleType: "crossword"
                        startedAt: "2023-09-06T10:21:13Z"
                        updatedAt: "2023-09-06T10:31:00Z"
                        playProgress:
                          totalBoxes: 0
                          filledBoxes: 0
                          playState: "inProgress"
                        score: 0
                        screenTimeSeconds: 308
                    hasMore: false
                multiple_puzzle_plays:
                  summary: Plays for multiple puzzles
                  description: |
                    Example response showing plays for multiple puzzles with different puzzle types.
                    Each play has puzzle type specific progress information.
                  value:
                    status: 0
                    plays:
                      - userId: "9f7439e7-ecf1-4c03-ba90-91273f149231"
                        puzzleId: "123ba400"
                        series: "pm"
                        puzzleType: "crossword"
                        startedAt: "2023-09-06T10:21:13Z"
                        updatedAt: "2023-09-06T10:31:00Z"
                        playProgress:
                          totalBoxes: 100
                          filledBoxes: 75
                          playState: "inProgress"
                        score: 75
                        screenTimeSeconds: 308
                      - userId: "9f7439e7-ecf1-4c03-ba90-91273f149231"
                        puzzleId: "46892ef6"
                        series: "pm"
                        puzzleType: "quiz"
                        startedAt: "2023-08-01T06:39:41Z"
                        updatedAt: "2023-08-02T08:22:00Z"
                        playProgress:
                          attemptedQuestions: 8
                          playState: "completed"
                        score: 85
                        screenTimeSeconds: 24
                      - userId: "9f7439e7-ecf1-4c03-ba90-91273f149231"
                        puzzleId: "789abc12"
                        series: "pm"
                        puzzleType: "wordsearch"
                        startedAt: "2023-08-03T14:15:30Z"
                        updatedAt: "2023-08-03T14:45:15Z"
                        playProgress:
                          totalWords: 20
                          wordsFound: 15
                          playState: "inProgress"
                        score: 75
                        screenTimeSeconds: 1785
                    hasMore: false
        '400':
          description: Bad request (missing/invalid parameters)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missing_required_parameter:
                  summary: Missing required parameter
                  description: Error response when a required parameter is missing
                  value:
                    status: 1
                    errorCode: 10
                    errorMessage: "Invalid parameter."
                    errorDetails:
                      paramName: "series"
        '401':
          description: Unauthorized (invalid or missing API token)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                expired_token:
                  summary: Expired token
                  description: Error response when the API token has expired
                  value:
                    status: 1
                    errorCode: 6
                    errorMessage: "Token expired"
                    errorDetails:
                      type: "EXPIRED_TOKEN"
                invalid_token:
                  summary: Invalid token
                  description: Error response when the API token is invalid
                  value:
                    status: 1
                    errorCode: 5
                    errorMessage: "Invalid token"
                    errorDetails:
                      type: "INVALID_TOKEN"
        '403':
          description: Forbidden (no access to series)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                no_access_to_series:
                  summary: No access to series
                  description: Error response when user doesn't have access to the requested series
                  value:
                    status: 1
                    errorCode: 8
                    errorMessage: "No access to series"
                    errorDetails:
                      series: "pm"
                      type: "UNAUTHORIZED_ACCESS_TO_SET"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Enter the JWT token obtained from the `/api/v1/token` endpoint.
        **Note:** You do not need to prefix the token with "Bearer ".
  schemas:
    GetPlaysResponse:
      type: object
      description: Response containing list of plays with puzzle type specific state details
      properties:
        status:
          type: integer
          description: Response status code (0 for success)
          example: 0
        plays:
          type: array
          items:
            $ref: '#/components/schemas/PlayResponse'
          description: List of plays with puzzle type specific state details
        hasMore:
          type: boolean
          description: Indicates if there are more plays available (pagination)
    PlayResponse:
      type: object
      description: Individual play data with puzzle type specific progress information
      properties:
        userId:
          type: string
          description: Unique user identifier
          example: "user123"
        puzzleId:
          type: string
          description: Puzzle identifier
          example: "daily-2024-01-15"
        series:
          type: string
          description: Series name
          example: "demo-api"
        puzzleType:
          type: string
          enum: [crossword, codeword, krisskross, sudoku, quiz, wordsearch, wordflower, jigsaw]
          description: Puzzle type
          example: "crossword"
        startedAt:
          type: string
          format: date-time
          description: Play start time in ISO 8601 UTC format
          example: "2024-01-15T10:30:00Z"
        updatedAt:
          type: string
          format: date-time
          description: Time when the play was last updated, in ISO 8601 UTC format.
          example: "2024-01-15T11:15:00Z"
        playProgress:
          oneOf:
            - $ref: '#/components/schemas/GridGamePlayProgress'
            - $ref: '#/components/schemas/QuizPlayProgress'
            - $ref: '#/components/schemas/WordSearchPlayProgress'
            - $ref: '#/components/schemas/JigsawPlayProgress'
          description: Puzzle type specific play state details and progress information
        score:
          type: integer
          minimum: 0
          maximum: 100
          description: Backend computed score for the play
          example: 85
        screenTimeSeconds:
          type: integer
          minimum: 0
          description: Screen time spent on puzzle in seconds on the frontend 
          example: 2700
    PlayState:
      type: string
      enum: [inProgress, completed]
      description: Current state of the play
    GridGamePlayProgress:
      type: object
      description: Play progress details for grid-based games (Crossword, Codeword, KrissKross, Sudoku)
      properties:
        playState:
          $ref: '#/components/schemas/PlayState'
        totalBoxes:
          type: integer
          minimum: 0
          description: Total boxes that need to be filled 
          example: 100
        filledBoxes:
          type: integer
          minimum: 0
          description: Boxes filled by user (correct + incorrect)
          example: 75
    QuizPlayProgress:
      type: object
      description: Play progress details for quiz games
      properties:
        playState:
          $ref: '#/components/schemas/PlayState'
        attemptedQuestions:
          type: integer
          minimum: 0
          description: Number of questions attempted by the user. Total number of questions can be read using Puzzles API endpoint.
          example: 8
    WordSearchPlayProgress:
      type: object
      description: Play progress details for word search and word flower games
      properties:
        playState:
          $ref: '#/components/schemas/PlayState'
        totalWords:
          type: integer
          minimum: 0
          description: Total words to find
          example: 20
        wordsFound:
          type: integer
          minimum: 0
          description: Number of words found by the user
          example: 15
    JigsawPlayProgress:
      type: object
      description: Play progress details for jigsaw puzzles
      properties:
        playState:
          $ref: '#/components/schemas/PlayState'
        totalPieces:
          type: integer
          minimum: 0
          description: Total pieces in the puzzle
          example: 100
        remainingPieces:
          type: integer
          minimum: 0
          description: Number of pieces remaining to be placed
          example: 25
    ErrorResponse:
      type: object
      description: Standard error response format for API errors
      properties:
        status:
          type: integer
          description: Error status code (1 for errors)
          example: 1
        errorCode:
          type: integer
          description: Specific error code for different error types
          example: 6
        errorMessage:
          type: string
          description: Human-readable error message
          example: "Token expired"
        errorDetails:
          type: object
          description: Additional error details specific to the error type
          additionalProperties: true
          example:
            type: "EXPIRED_TOKEN"
            paramName: "series"
    PlaysResponseAPI:
      type: object
      properties:
        plays:
          type: array
          items:
            $ref: '#/components/schemas/BaseFormattedPlay'
        hasMore:
          type: boolean
    BaseFormattedPlay:
      type: object
      properties:
        uid:
          type: string
        startTime:
          type: string
        endTime:
          type: string
        playState:
          type: string
        puzzleId:
          type: string
        series:
          type: string
        puzzleType:
          type: string
        timeTaken:
          type: string
        score:
          type: integer
    PuzzleResponseAPI:
      type: object
      description: Response containing puzzle metadata organized by series
      properties:
        status:
          type: integer
          description: Response status code (0 for success)
          example: 0
        seriesToPuzzleMetadata:
          type: object
          description: |
            Map of series names to arrays of puzzle metadata.
            Each series contains puzzles with type-specific metadata fields.
          additionalProperties:
            type: array
            items:
              oneOf:
                - $ref: '#/components/schemas/GridGameMetadata'
                - $ref: '#/components/schemas/QuizGameMetadata'
                - $ref: '#/components/schemas/BaseFormattedPuzzleMetadata'
          example:
            api-demo-crossword:
              - title: "Daily Crossword"
                author: "Jane Smith"
                puzzleId: "82e56966"
                puzzleType: "CROSSWORD"
                publicationTime: 1701286140000
                publicationTimeZone: "America/New_York"
                thumbnailURL: "https://amuselabs.com/wp-content/uploads/2022/03/crossword_icon.png"
                gridWidth: 15
                gridHeight: 15
                numWords: 78
        hasMore:
          type: boolean
          description: Indicates if there are more puzzles available. When true, use limit and offset parameters to fetch the next page of results.
    BaseFormattedPuzzleMetadata:
      type: object
      description: Base puzzle metadata containing common fields for all puzzle types
      properties:
        title:
          type: string
          description: Puzzle title
          example: "Daily Crossword"
        author:
          type: string
          description: Puzzle author/constructor name
          example: "Jane Smith"
        puzzleId:
          type: string
          description: Unique puzzle identifier
          example: "82e56966"
        puzzleType:
          type: string
          enum: [CROSSWORD, CODEWORD, KRISSKROSS, SUDOKU, QUIZ, WORDSEARCH, WORDFLOWER, JIGSAW]
          description: Type of puzzle
          example: "CROSSWORD"
        publicationTime:
          type: integer
          description: Publication timestamp in milliseconds since epoch (UTC)
          example: 1701286140000
        publicationTimeZone:
          type: string
          description: Timezone of the publication time
          example: "America/New_York"
        thumbnailURL:
          type: string
          description: URL to the puzzle thumbnail image
          example: "https://amuselabs.com/wp-content/uploads/2022/03/crossword_icon.png"
    GridGameMetadata:
      allOf:
        - $ref: '#/components/schemas/BaseFormattedPuzzleMetadata'
        - type: object
          description: Additional metadata for grid-based games (Crossword, Codeword, KrissKross, Sudoku)
          properties:
            gridWidth:
              type: integer
              minimum: 1
              description: The width of the puzzle grid in cells
              example: 15
            gridHeight:
              type: integer
              minimum: 1
              description: The height of the puzzle grid in cells
              example: 15
            numWords:
              type: integer
              minimum: 0
              description: The number of words/clues in the puzzle
              example: 78
    QuizGameMetadata:
      allOf:
        - $ref: '#/components/schemas/BaseFormattedPuzzleMetadata'
        - type: object
          description: Additional metadata for quiz games
          properties:
            numOfQuestions:
              type: integer
              minimum: 1
              description: The number of questions in the quiz
              example: 10
    PuzzleMetadata:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        author:
          type: string
        puzzleType:
          type: string
        publishTime:
          type: integer
        publishTimeZone:
          type: string
        tn_url:
          type: string
    ReportResponseAPI:
      type: object
      properties:
        series:
          type: string
        puzzleId:
          type: string
          nullable: true
        loadMetrics:
          type: object
          nullable: true
        playMetrics:
          type: object
          nullable: true
    TokenResult:
      type: object
      properties:
        access_token:
          type: string
        token_type:
          type: string
        expires_at_seconds:
          type: integer
    SeriesResponseAPI:
      type: object
      description: Response containing series information
      properties:
        status:
          type: integer
          description: Response status code (0 for success)
          example: 0
        seriesList:
          type: array
          items:
            $ref: '#/components/schemas/SeriesInfo'
          description: |
            List of series objects. Contains all series when series parameter is omitted, a single series when a valid
            identifier is provided, or an empty list when an invalid identifier is provided.
    SeriesInfo:
      type: object
      description: Series metadata containing identifier, display name, and status
      properties:
        name:
          type: string
          description: Series identifier
          example: "api-demo-crossword"
        displayName:
          type: string
          description: Display name of the series
          example: "API Demo Crossword"
        status:
          type: string
          enum:
            - ACTIVE
            - DELETED
          description: Status of the series
          example: "ACTIVE"
        settings:
          $ref: '#/components/schemas/PlayerSettings'
          description: |
            Hierarchical player+picker settings for this series. Only present when the caller passed
            `includeSettings=true` on `GET /api/v1/series` for a specific series. Omitted in list
            mode and when `includeSettings` is false or not provided.

    SeriesPatchRequest:
      type: object
      description: |
        Request body for `PATCH /api/v1/series`. At least one of `displayName` or `settings` must be
        present; unknown top-level keys cause a 400 error.
      properties:
        displayName:
          type: string
          description: |
            New display name for the series. If present, must be non-empty.
            Example: "API Demo (Updated)"
        settings:
          $ref: '#/components/schemas/PlayerSettings'

    SeriesPatchResponse:
      type: object
      description: |
        Response from `PATCH /api/v1/series`. Intentionally minimal — PATCH is a pure write. The
        only field guaranteed in the body is the base `status` envelope. Callers that need the
        post-update state should follow up with `GET /api/v1/series?series=X&includeSettings=true`.
      properties:
        status:
          type: integer
          description: Response status code (0 for success)
          example: 0

    SeriesPostRequest:
      type: object
      description: |
        Request body for `POST /api/v1/series` — creates a new series, optionally with an initial
        set of hierarchical player+picker settings. Send as `Content-Type: application/json`.
      required:
        - series
        - seriesDisplayName
      properties:
        series:
          type: string
          description: |
            Unique identifier for the new series. Must match the series naming rules (alphanumeric +
            hyphens, max length enforced). For non-superadmin callers, the account handle is
            auto-prefixed server-side.
            Example: "fall-2024-crosswords"
        seriesDisplayName:
          type: string
          description: |
            Human-readable display name for the series. Shown in the dashboard and — when the series
            is rendered — in the player UI.
            Example: "Fall 2024 Crosswords"
        settings:
          $ref: '#/components/schemas/PlayerSettings'

    SeriesPostResponse:
      type: object
      description: |
        Response from `POST /api/v1/series`. Intentionally minimal — just the base `status` envelope.
        Aligned with the `PATCH /api/v1/series` contract: POST is a pure write, and callers that
        need the post-create state (final identifier, resulting settings) follow up with
        `GET /api/v1/series?series=X&includeSettings=true`.
      properties:
        status:
          type: integer
          description: Response status code (0 for success)
          example: 0

    PlayerSettings:
      type: object
      description: |
        Hierarchical player and picker settings for a series. Grouped into ten top-level sections
        that mirror the PuzzleMe series settings editor. All sections and fields are optional; on
        `PATCH` only the paths you send are merged onto the existing settings. Unknown API paths
        cause a 400 error.

        Some fields are only meaningful for specific puzzle types. Those are noted in the per-field
        descriptions below (e.g., "Crossword only"); sending them for other puzzle types has no effect.
      properties:
        security:
          type: object
          description: Security and privacy settings (iframe, cookies, storage).
          properties:
            allowedDomains:
              type: string
              description: |
                Space-separated list of parent domains allowed to iframe the puzzle player.
                Supports `*` wildcards (e.g., `*.example.com`). Leave empty to allow any site.
                Example: "*.example.com washingtonpost.com"
            landingPageUrl:
              type: string
              description: |
                URL players are redirected to when loading a puzzle outside an iframe (security
                measure to prevent unauthorized direct access).
                Example: "https://example.com/games"
            disallowCookies:
              type: boolean
              description: When true, the player does not set cookies.
            saveProgressInBrowser:
              type: boolean
              description: When true, puzzle progress is persisted in the browser's local storage.
        userFieldsCollection:
          type: object
          description: Lead-generation fields collected from players.
          properties:
            collectIn:
              type: string
              enum: [ALL_PUZZLES, CONTEST_MODE, NON_CONTEST_MODE]
              description: Which puzzle modes collect user info.
            field1:
              $ref: '#/components/schemas/UserFieldConfig'
            field2:
              $ref: '#/components/schemas/UserFieldConfig'
            field3:
              $ref: '#/components/schemas/UserFieldConfig'
        startExperience:
          type: object
          description: What the player sees when a puzzle first loads.
          properties:
            message:
              type: string
              description: Rich text shown in the start modal. HTML allowed.
            showStartButton:
              type: boolean
              description: When true, show a modal with a "Start" button after the puzzle loads.
            showHowToPlay:
              type: boolean
              description: When true, show a "How to play" tab alongside the start message.
        pauseExperience:
          type: object
          description: What the player sees when they pause the puzzle.
          properties:
            message:
              type: string
              description: Rich text shown in the pause modal. HTML allowed.
        completionExperience:
          type: object
          description: What the player sees when they complete (or incorrectly complete) a puzzle.
          properties:
            title:
              type: string
              description: Completion pop-up title (non-quiz, non-wordrow).
            quizTitle:
              type: string
              description: Completion pop-up title. Quiz only.
            wordrowTitle:
              type: string
              description: Completion pop-up title. Wordrow only.
            subheaderMessage:
              type: string
              description: Short one-line message shown below the completion title.
            message:
              type: string
              description: Longer completion message. HTML allowed.
            showStreak:
              type: boolean
              description: When true, show the streak of last-N completions in the completion pop-up.
            soundUrl:
              type: string
              format: uri
              description: HTTPS audio URL played on completion. Maximum 500KB.
            animationUrl:
              type: string
              format: uri
              description: HTTPS Lottie animation URL played on correct completion. Maximum 500KB.
            incorrectTitle:
              type: string
              description: Incorrect-grid pop-up title. Crossword, Sudoku, KrissKross, Codeword.
            incorrectMessage:
              type: string
              description: Incorrect-grid pop-up message. Crossword, KrissKross, Codeword.
            sudokuIncorrectMessage:
              type: string
              description: Incorrect-grid pop-up message. Sudoku only.
        playerInterface:
          type: object
          description: Player UI toggles.
          properties:
            chessView:
              type: boolean
              description: Row/column numbers outside the grid. Crossword only.
            wordLengths:
              type: boolean
              description: Show word lengths in clue list. Crossword, Wordsearch.
            printEnabled:
              type: boolean
              description: Enable the print button. Crossword, KrissKross, Codeword, Sudoku, Wordsearch.
            fullscreenEnabled:
              type: boolean
              description: Expose a fullscreen option in the hamburger menu.
            timerEnabled:
              type: boolean
              description: Allow users to toggle the in-game timer.
            quizLayout:
              type: string
              enum: [horizontal, vertical]
              description: Layout direction. Quiz only.
        scoring:
          type: object
          description: Scoring rules and display.
          properties:
            correctAnswer:
              type: integer
              description: Points awarded for a correct answer. Crossword, Quiz, Sudoku, KrissKross.
            revealPenalty:
              type: integer
              description: Points deducted for revealing a letter. Crossword, KrissKross.
            bonusPerMinute:
              type: integer
              description: Bonus points per minute saved vs target time. Crossword, Quiz, Sudoku, KrissKross.
            targetTime:
              type: integer
              description: Target time to complete the puzzle (in minutes). Crossword, Quiz, Sudoku, KrissKross.
            displayLocation:
              type: object
              description: Where to display the score, per puzzle type.
              properties:
                crossword:
                  $ref: '#/components/schemas/ScoreDisplayLocation'
                krisskross:
                  $ref: '#/components/schemas/ScoreDisplayLocation'
                sudoku:
                  type: string
                  enum: [END_ONLY, NEVER]
                  description: Score display location for Sudoku (reduced value set).
                wordsearch:
                  $ref: '#/components/schemas/ScoreDisplayLocation'
                wordf:
                  $ref: '#/components/schemas/ScoreDisplayLocation'
                quiz:
                  $ref: '#/components/schemas/ScoreDisplayLocation'
            quizFormat:
              type: string
              enum: [DIRECT, COMPUTED]
              description: |
                Score format for quiz. `DIRECT` shows "n/m"; `COMPUTED` shows points-based score.
                Quiz only.
        assistFeatures:
          type: object
          description: Player-assist features (hints, reveal, check).
          properties:
            hints:
              type: boolean
              description: Enable hints. Crossword, Wordsearch, WordF, Quiz, Jigsaw.
            reveal:
              type: boolean
              description: Enable reveal. Crossword, KrissKross, Codeword, Sudoku, Wordsearch, WordF.
            check:
              type: boolean
              description: Enable check. Crossword, KrissKross, Codeword, Sudoku.
            errorCheckMode:
              type: boolean
              description: Enable error-check mode. Crossword, KrissKross, Codeword, Sudoku.
            jigsaw:
              type: object
              description: Jigsaw-specific assist features.
              properties:
                disableReferenceImage:
                  type: boolean
                disableEdgesOnly:
                  type: boolean
                startScattered:
                  type: boolean
                  description: Start the puzzle in scattered mode.
        picker:
          type: object
          description: Settings for the picker (series-level puzzle index) surface.
          properties:
            hideLink:
              type: boolean
              description: Hide the "more puzzles" link from the hamburger menu and completion modal.
            buttonLabel:
              type: string
              description: Label for the picker button (default "More puzzles").
            appearance:
              type: string
              enum: ["0", "1", "2", "3", "4"]
              description: Picker style code.
            adTag:
              type: string
              format: uri
              description: Pre-roll VAST ad tag URL.
        sharing:
          type: object
          description: Social sharing configuration.
          properties:
            enabled:
              type: boolean
              description: Enable the sharing UI.
            twitterHandle:
              type: string
              description: 'Twitter/X handle (e.g., "@AmuseLabs"). Used in share messages.'
            blueskyHandle:
              type: string
              description: 'Bluesky handle (e.g., "@user.bsky.social").'
            shareMessage:
              type: string
              description: |
                Default share message template. Supports placeholders like `[puzzle-type]`,
                `[social-handle]`, `[puzzle-link]`.
            shareMessageNoHandle:
              type: string
              description: Share message used when no social handle is configured.
            solvedMessage:
              type: string
              description: |
                Share-results message template. Supports placeholders like `[time-taken]`,
                `[emoji-grid]`, `[puzzle-link]`.
            solvedMessageNoHandle:
              type: string
              description: Share-results message used when no social handle is configured.

    UserFieldConfig:
      type: object
      description: Configuration for one lead-gen field (name / email / mobile).
      properties:
        enabled:
          type: boolean
          description: When true, this field is shown in the user-info form.
        label:
          type: string
          description: Display label shown above the input.
        fieldType:
          type: string
          enum: [TEXT_REQUIRED, EMAIL, NUMBERS_ONLY, CUSTOM]
          description: |
            Input type preset. `TEXT_REQUIRED` accepts any non-empty string; `EMAIL` requires a valid
            email; `NUMBERS_ONLY` accepts digits; `CUSTOM` preserves an existing custom regex (sending
            `CUSTOM` in `PATCH` leaves the regex unchanged).

    ScoreDisplayLocation:
      type: string
      enum:
        - NAVBAR_ONLY
        - END_ONLY
        - NAVBAR_AND_END
        - NEVER
      description: Where to show the score for a given puzzle type.
x-tagGroups:
  - name: Auth
    tags:
      - Auth
  - name: Puzzles
    tags:
      - Puzzles
  - name: Plays
    tags:
      - Plays
  - name: Series
    tags:
      - Series
  - name: Analytics
    tags:
      - Analytics
